
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EcoCyle | Error 404</title>
    <!-- bootstrap css -->
    <link rel="stylesheet" href="~/homepage/css/bootstrap.min.css">
    <!-- style css -->

    <!-- Responsive-->
    <link rel="stylesheet" href="~/homepage/css/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="~/homepage/images/fevicon.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="~/homepage/css/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <style>
        body {
            background: url('homepage\images\newbanner.png');

            font-family: 'Arial', sans-serif;
        /*     background-color: #4CAF50; /* Yeşil tonu */ */
            color: #fff;
            text-align: center;
            padding: 50px;
            margin: 0;
        }

        h1 {
            font-size: 200px;
            margin-bottom: 10px;
        }

        p {
            font-size: 35px;
            margin-top: 10px;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
        }

        .earth-img {
            max-width: 100%;
            height: auto;
            margin-top: 20px;
        }
    </style>

</head>
<body>
    <div class="container">
        <h1>404</h1>
        <p>The page you're looking for couldn't be found.</p>
        <br />
        <a class="btn btn-success" href="/Home/Index"> Home Page</a>
    </div>
</body>
</html>
