
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_CompanyLayout.cshtml";

}
<link href="~/admin/css/plugins/iCheck/custom.css" rel="stylesheet">



    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="widget style1">
                    <div class="row">
                        <div class="col-4 text-center">
                            <i class="fa fa-trophy fa-5x"></i>
                        </div>
                        <div class="col-8 text-right">
                        <span> The total number of those offered for sale </span>
                            <h2 class="font-bold">@ViewBag.ProductCount</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="widget style1 navy-bg">
                    <div class="row">
                        <div class="col-4">
                          <i class="fa fa-usd fa-5x"></i>
                        </div>
                        <div class="col-8 text-right">
                        <span>
                            The total price of those offered for sale
                        </span>
                            <h2 class="font-bold">$@ViewBag.ProductPriceTotal</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="widget style1 lazur-bg">
                    <div class="row">
                        <div class="col-4">
                        <i class="fa fa-shopping-cart fa-5x"></i>
                        </div>
                        <div class="col-8 text-right">
                        <span> Total sold </span>
                            <h2 class="font-bold">324</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="widget style1 yellow-bg">
                    <div class="row">
                        <div class="col-4">
                        <i class="fa fa-android fa-5x"></i>
                        </div>
                        <div class="col-8 text-right">
                        <span> Number of products identified by artificial intelligence </span>
                            <h2 class="font-bold">142</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="widget navy-bg no-padding">
                    <div class="p-m">
                        <h1 class="m-xs">$480.234,540</h1>

                        <h3 class="font-bold no-margins">
                        Your total annual turnover
                        </h3>
                        
                    </div>
                    <div class="flot-chart">
                        <div class="flot-chart-content" id="flot-chart1"></div>
                    </div>
                </div>
            </div>
        <div class="col-lg-3">
            <div class="widget lazur-bg no-padding">
                <div class="p-m">
                    <h1 class="m-xs">62</h1>

                    <h3 class="font-bold no-margins">
                        Your total annual sales
                    </h3>

                </div>
                <div class="flot-chart">
                    <div class="flot-chart-content" id="flot-chart2"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="widget yellow-bg no-padding">
                <div class="p-m">
                    <h1 class="m-xs">%98,97</h1>

                    <h3 class="font-bold no-margins">
                        Accuracy percentage of products identified by AI
                    </h3>

                </div>
                <div class="flot-chart">
                    <div class="flot-chart-content" id="flot-chart2"></div>
                </div>
            </div>
        </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
                <div class="widget style1 navy-bg">
                    <div class="row vertical-align">
                        <div class="col-3">
                            <i class="fa fa-user fa-3x"></i>
                        </div>
                        <div class="col-9 text-right">
                            <h2 class="font-bold">217</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="widget style1 navy-bg">
                    <div class="row vertical-align">
                        <div class="col-3">
                            <i class="fa fa-thumbs-up fa-3x"></i>
                        </div>
                        <div class="col-9 text-right">
                            <h2 class="font-bold">400</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="widget style1 navy-bg">
                    <div class="row vertical-align">
                        <div class="col-3">
                            <i class="fa fa-rss fa-3x"></i>
                        </div>
                        <div class="col-9 text-right">
                            <h2 class="font-bold">10</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="widget style1 lazur-bg">
                    <div class="row vertical-align">
                        <div class="col-3">
                            <i class="fa fa-phone fa-3x"></i>
                        </div>
                        <div class="col-9 text-right">
                            <h2 class="font-bold">120</h2>
                        </div>
                    </div>
                </div>
            </div>
           @*  <div class="col-lg-2">
                <div class="widget style1 lazur-bg">
                    <div class="row vertical-align">
                        <div class="col-3">
                            <i class="fa fa-euro fa-3x"></i>
                        </div>
                        <div class="col-9 text-right">
                            <h2 class="font-bold">462</h2>
                        </div>
                    </div>
                </div>
            </div> *@
            <div class="col-lg-2">
                <div class="widget style1 yellow-bg">
                    <div class="row vertical-align">
                        <div class="col-3">
                            <i class="fa fa-shield fa-3x"></i>
                        </div>
                        <div class="col-9 text-right">
                            <h2 class="font-bold">610</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



<!-- Flot -->
<script src="~/admin/js/plugins/flot/jquery.flot.js"></script>
<script src="~/admin/js/plugins/flot/jquery.flot.tooltip.min.js"></script>
<script src="~/admin/js/plugins/flot/jquery.flot.resize.js"></script>

<!-- ChartJS-->
<script src="~/admin/js/plugins/chartJs/Chart.min.js"></script>

<!-- Peity -->
<script src="~/admin/js/plugins/peity/jquery.peity.min.js"></script>
<!-- Peity demo -->
<script src="~/admin/js/demo/peity-demo.js"></script>

<!-- jquery UI -->
<script src="~/admin/js/plugins/jquery-ui/jquery-ui.min.js"></script>

<!-- Touch Punch - Touch Event Support for jQuery UI -->
<script src="~/admin/js/plugins/touchpunch/jquery.ui.touch-punch.min.js"></script>

<!-- Custom and plugin javascript -->
<script src="~/admin/js/inspinia.js"></script>
<script src="~/admin/js/plugins/pace/pace.min.js"></script>

<!-- iCheck -->
<script src="~/admin/js/plugins/iCheck/icheck.min.js"></script>

<!-- Jvectormap -->
<script src="~/admin/js/plugins/jvectormap/jquery-jvectormap-2.0.2.min.js"></script>
<script src="~/admin/js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>



<script>
    $(document).ready(function () {


        var d1 = [[1262304000000, 6], [1264982400000, 3057], [1267401600000, 20434], [1270080000000, 31982], [1272672000000, 26602], [1275350400000, 27826], [1277942400000, 24302], [1280620800000, 24237], [1283299200000, 21004], [1285891200000, 12144], [1288569600000, 10577], [1291161600000, 10295]];
        var d2 = [[1262304000000, 5], [1264982400000, 200], [1267401600000, 1605], [1270080000000, 6129], [1272672000000, 11643], [1275350400000, 19055], [1277942400000, 30062], [1280620800000, 39197], [1283299200000, 37000], [1285891200000, 27000], [1288569600000, 21000], [1291161600000, 17000]];

        var data1 = [
            { label: "Data 1", data: d1, color: '#17a084' },
            { label: "Data 2", data: d2, color: '#127e68' }
        ];
        $.plot($("#flot-chart1"), data1, {
            xaxis: {
                tickDecimals: 0
            },
            series: {
                lines: {
                    show: true,
                    fill: true,
                    fillColor: {
                        colors: [{
                            opacity: 1
                        }, {
                            opacity: 1
                        }]
                    },
                },
                points: {
                    width: 0.1,
                    show: false
                },
            },
            grid: {
                show: false,
                borderWidth: 0
            },
            legend: {
                show: false,
            }
        });

        var lineData = {
            labels: ["January", "February", "March", "April", "May", "June", "July"],
            datasets: [
                {
                    label: "Example dataset",
                    backgroundColor: "rgba(26,179,148,0.5)",
                    borderColor: "rgba(26,179,148,0.7)",
                    pointBackgroundColor: "rgba(26,179,148,1)",
                    pointBorderColor: "#fff",
                    data: [48, 48, 60, 39, 56, 37, 30]
                },
                {
                    label: "Example dataset",
                    backgroundColor: "rgba(220,220,220,0.5)",
                    borderColor: "rgba(220,220,220,1)",
                    pointBackgroundColor: "rgba(220,220,220,1)",
                    pointBorderColor: "#fff",
                    data: [65, 59, 40, 51, 36, 25, 40]
                }
            ]
        };

        var lineOptions = {
            responsive: true
        };


        var ctx = document.getElementById("lineChart").getContext("2d");
        new Chart(ctx, { type: 'line', data: lineData, options: lineOptions });

    });
</script>