@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<!-- about -->
<div id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="titlepage">
                    <h2>About <span class="green">Us</span></h2>
                    <p>
                        As Eco-Cycle, our mission is to transform industrial waste into valuable resources, fostering sustainability and collaboration among companies. The heart of our lies in the ability of our Al to evaluate industrial waste dynamically .
                        Our system not only minimizes environmental impact but also contributes to the creation of a circular economy.
                    </p>

                </div>
            </div>
            <div class="col-md-7">
                <div class="about_img">
                    <figure><img src="~/homepage/images/aboutus.jpg" alt="#" /></figure>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end about -->
<!--  service -->
<div id="service" class="service">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>Our <span class="green">Services</span></h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="service_box">
                    <i class="fa fa-video-camera fa-5x"></i>
                    <h3>AI-Based Waste Sorting</h3>
                    <p>
                        Efficiently categorize industrial waste to identify recyclable materials and contribute to a sustainable ecosystem.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service_box">
                    <i class="fa fa-recycle fa-5x"></i>
                    <h3>Product Trading</h3>
                    <p>Facilitate seamless transactions between companies with our user-friendly waste product trading platform. Monetize your waste by connecting with other businesses, creating a network of mutually beneficial opportunities. </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service_box">
                    <i class="fa fa-briefcase fa-5x"></i>
                    <h3>Inter-company Collaboration</h3>
                    <p>
                        Forge strong alliances through our platform, encouraging collaboration among companies in waste management.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end service -->

<div id="testimonial" class="Testimonial">
    <div class="container-fluid">
        <div class="row d_flex">
            <div class="col-md-8 pad_left0">
                <div id="testimon" class="carousel slide banner_testimonial" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#testimon" data-slide-to="0" class="active"></li>
                        <li data-target="#testimon" data-slide-to="1"></li>
                        <li data-target="#testimon" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="container">
                                <div class="carousel-caption relative">
                                    <div class="row">
                                        <div class="col-md-10">
                                            <div class="text_humai">
                                                <i><img src="~/homepage/images/onurs.png" alt="#" /></i>
                                                <span>Onur Acarsoy</span>
                                                <p>Onur is a second year student in the Computer Programing department at Istanbul Aydın University. He prepare the website using .Net. He also prepare the database using MSSQL.  </p>
                                            </div>
                                        </div>
                          
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item ">
                            <div class="container">
                                <div class="carousel-caption relative">
                                    <div class="row">
                                        <div class="col-md-10">
                                            <div class="text_humai">
                                                <i><img src="~/homepage/images/sudes.png" alt="#" /></i>
                                                <span>Sude Naz Akdenizli </span>
                                                <p>Sude Naz is a second year Economics and International Relations student in Istanbul Aydın University. For this project she was responsible from youtube video.</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item ">
                            <div class="container">
                                <div class="carousel-caption relative">
                                    <div class="row">
                                        <div class="col-md-10">
                                            <div class="text_humai">
                                                <i><img src="~/homepage/images/nours.png" alt="#" /></i>
                                                <span>Nour Ehab </span>
                                                <p>Nour is a third year Software Engineer student in Istanbul Aydın University.He made the AI part for our project TensorFlow.</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                     
                    </div>
                    <a class="carousel-control-prev" href="#testimon" role="button" data-slide="prev">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#testimon" role="button" data-slide="next">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="titlepage">
                    <h2>Our <span class="green">Team</span></h2>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<!-- end design -->
